.head {
  background: #0E1F2F
  text-align: center;
  }


  .title {
    color: #F5BC00
    padding: 25px;
    font-family: Chakra Petch;
  }


  body {
    background: #000;
    color: #fff;
    padding: 25px;
    font-family: Chakra Petch;
  }
