.one-another {
  background: #818479
  text-align: center;
  border: 2px;
    padding: 25px;
    margin: 30px;
  }


  .title {
    color: #F5BC00
    padding: 30px;
    font-size: 30px;
    font-family: "Chakra Petch", sans-serif;
  }


  body {
    background: #0E1F2F;
    color: #F5BC00;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
  }


  header {
    color: #F5BC00
    font-size: 35px;
    font-family: "Chakra Petch", sans-serif;

  }
